<div class="container-fluid p-0">
  <app-nav></app-nav>
  <div>
    <div class="col d-flex my-3">
      <app-select-property class="mr-3" [propertyForChangeView] = "propertyForChangeView" (changeViewPropertyEvent)="changeViewProperty($event)"></app-select-property>
      <button type="button"class="btn btn-secondary" (click)="reset = !reset">Reset</button>      
    </div>
  </div>
  <div class="row align-items-stretch px-3" *ngIf="dataFromCrossfilter">
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-body">
          <app-pie-chart [crossfilterData]="dataFromCrossfilter" [reset] = "reset" [properyForChart]="currentProperty"></app-pie-chart>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-body">
            <app-time-line-chart [dataFromCrossfilter]="dataFromCrossfilter" [reset] = "reset" [properyForChart]="currentProperty"></app-time-line-chart>
        </div>
      </div>
    </div>
  </div>
</div>


