<div class="container-fluid">
  <app-nav></app-nav>
  <div>
    <div class="col d-flex my-3">
      <app-select-property class="mr-3" [propertyForChangeView] = "propertyForChangeView" (changeViewPropertyEvent)="changeViewProperty($event)"></app-select-property>
      <button type="button"class="btn btn-secondary" (click)="resetView()">Reset</button>      
    </div>
  </div>
  <div class="row align-items-stretch">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <app-pie-chart></app-pie-chart>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
            <app-time-line-chart></app-time-line-chart>
        </div>
      </div>
    </div>
  </div>
</div>


