/* You can add global styles to this file, and also import other style files */
.dc-chart{
    touch-action: none;
    path.line{
        fill: none;
    }
    .brush .resize path{
        fill: #eee;
        stroke: #666;
    }
    .axis path{
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }
    .selected path, .selected circle {
        stroke-width: 3;
        stroke: rgb(139, 133, 133);
        fill-opacity: 1;
    }
    g.deselected path {
        fill-opacity: .7;
    }
    
}
.extent{
    fill: steelblue;
    fill-opacity: .1;
}
